{{#each model as |hat index|}}
  <div class="hat">{{hat.name}}</div>
  <div class="detail">
    {{#link-to "hats.detail" hat.id}}details{{/link-to}}
    {{#link-to "hats.include" hat.id}}include{{/link-to}}
    {{outlet hat.id}}
  </div>
{{/each}}
